.email-form {
  min-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.email-form__header {
  background-color: #00968C;
  color: white;
}

.email-form__group{
  margin: 20px 20px 0 20px;
  & > *{
    margin-bottom: 10px !important;
  }
  display: flex;
  flex-direction: column;
}

.email-form__to-field {
  display: flex;
  align-items: center;
  :first-child {
    flex: 1 !important;
  }
}

.email-form__submit {
  width: fit-content;
  min-width: 100px !important;
  margin-top: 20px !important;
  margin-bottom: 30px !important;
  margin-left: 20px !important;
}

.email-form__cc {
  padding: 0 20px;
  cursor: pointer;
}
.email-form__bcc {
  cursor: pointer;
}

.email-form__group--show {
  transition: all 250ms !important;
  transition-timing-function: ease-in;
  max-height: 1000px !important;
}

.email-form__group--hide {
  max-height: 0 !important;
  overflow-x: hidden;
  margin-bottom: 0 !important;
}